@mixin container {
	width: 1200px;
	margin: 0 auto;
	box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);

	@media screen and (max-width: 1210px) {
		width: 100%;
	}
	
	@media screen and (max-width: 992px) {
		/* width: 750px; */
	}

	@media screen and (max-width: 768px) {
		/* width: auto; */
	}
}

@mixin size ($font) {
	font-size: $font;
	line-height: $font + 2px;

}

@mixin flexCenter {
	justify-content: center;
	align-items: center;
	display: flex;
}

@mixin titleText {
	font-family: $mainFont;
	color: $titleDark;
	font-size: 1.875rem;
	font-weight: 700;
	text-transform: uppercase;
}

@mixin secondText {
	font-family: $mainFont;
	color: $text;
	font-size: 0.875rem;
	font-weight: 400;
	text-transform: uppercase;
}

@mixin positionCenter {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

@mixin placeholder {
	&::-webkit-input-placeholder { @content; }
	&:-moz-placeholder           { @content; }
	&::-moz-placeholder          { @content; }
	&:-ms-input-placeholder      { @content; }
}