
.inline-block {
  display: inline-block;
  vertical-align: baseline;
}


.pseudo {
  content: "";
  display: block;
  position: absolute;
}


.blue-btn-hover-active {
  &:hover {
    background: $blue-hover;
  }

  &:active {
    background: $blue-active;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background: $gray-hover;
  }
}






