/*Переменные*/

/* Размеры контейнеров и оберток*/

$mobile-width: 320px; // Ширина мобильной версии
$wrapper-mobile-width: $mobile-width - 20px - 20px; // Ширина обертки в мобильной версии
$tablet-width: 768px; // Ширина планшетной версии
$wrapper-tablet-btn-width: 458px; // Ширина обертки области с большими кнопками в планшетной версии
$wrapper-tablet-form-width: 650px; // Ширина обертки основной области на странице с формой
$desktop-width: 1200px; // Ширина десктопной версии
$wrapper-desktop-width: 960px; // Ширина обертки десктопной версии

/* Размеры объектов */

$logo-width: 67px;
$logo-bg-width: 137px;
$form-input-mobile-width: 280px;
$form-input-tablet-width: 175px;
$form-input-desktop-width: 280px;

/* Шрифты */

$font-family: "PT Sans", Arial, sans-serif; // Семейство шрифтов
$font: normal 14px/26px $font-family; // Основной шрифт
$font-reason: normal 14px/21px $font-family;
$font-intro: normal 14px/24px $font-family;
$font-title: bold 18px/26px $font-family; // Шрифт заголовков
$font-btn: bold 21px/58px $font-family; // Шрифт больших кнопок
$font-title-tablet: bold 21px/26px $font-family;
$font-title-tablet-big: bold 30px/26px $font-family;
$font-date-tag-blog: italic 14px/21px $font-family;

/* Цвета */

$blue: #81b3d2; // Цвет фона и кнопок Найти гостиницу, Отправить отзыв
$color-font-white: #fff; // Цвет шрифта на кнопках и фона контейнера в десктопной версии
$color-font: #333; // Цвет основного шрифта
$color-font-title: #000; // Цвет шрифта заголовков
$light-gray-bg: #eee; // Цвет серого фона
$gray-line: #dbdbdb; // Цвет разделителя в блоке причин и оформление заголовков в форме (планшетная версия)
$gray-line-form: #e5e5e5; // Цвет разделителя блоков на странице формы и input type text при наведении
$gray-shadow-text: #b8b8b8; // Цвет границы активного поля в форме
$light-gray-input: #f2f2f2; // Цвет полей формы, кнопок 60*60, фон чекбоксов, радиокнопок и кнопки Выбрать фотографии
$color-font-gray: #999; // Цвет даты и тегов в блоге

/* Цвета для различных состояний */

  /* Меню в хэдере_оформление активного пункта*/
$menu-color-current: #766357;
$menu-color-current-hover: #604e43;

  /* Кнопки Найти гостиницу, Отправить отзыв, Перетащить фотографии (десктоп),*/
  /* кнопки соцсетей в футере, пункты меню в мобильной версии, кнопки в модальных окнах*/

$blue-hover: #669ec0;
$blue-active: #5496bd;
$blue-disabled: #e5e5e5;

  /* Чекбоксы, радиокнопки, текстовые инпуты, кнопка Выбрать фотографии (мобильный, планшетный)*/

$gray-hover: #e5e5e5;
$gray-active: #d5d5d5;

/* Папки*/

$dir-img-sprite: "../img/icons-sprite.png"; // Спрайты
