$titleDark: rgba(0,0,0,1);
$titleLight: rgba(255,255,255,1);
$light_blue: #81b3d2;
$text: rgba(51,51,51,1);

$mMenuHVR: rgba(129, 179, 210, 1);
$mMenuDWN: rgba(0, 0, 0, 0.3);
$mMenuActive: rgba(118, 99, 87, 1);
$mMenuActiveHVR: rgba(96, 78, 67, 1);
$mMenuActiveHVRDWN: rgba(118, 99, 87, 0.3);






$mainFont: PTSans, sans-serif;


