$titleDark: rgba(0,0,0,1);
$titleLight: rgba(255,255,255,1);
$light_blue: #81b3d2;
$text: rgba(51,51,51,1);

/* Menu colors */

$MenuHVR: rgba(129, 179, 210, 1);
$MenuDWN: rgba(0, 0, 0, 0.3);
$MenuActive: rgba(118, 99, 87, 1);
$MenuActiveHVR: rgba(96, 78, 67, 1);
$MenuActiveHVRDWN: rgba(118, 99, 87, 0.3);

/* Menu colors (--gamburger) and social btn*/

$mMenuBackground: rgba(130, 181, 211, 1);
$mMenuHVR: rgba(102, 159, 194, 1);
$mMenuDWN: rgba(0, 0, 0, 0.3);
$mMenuActive: rgba(118, 99, 87, 1);
$mMenuActiveHVR: rgba(96, 78, 67, 1);
$mMenuActiveHVRDWN: rgba(118, 99, 87, 0.3);

/* Feedback forms colors */

$staticForm: rgba(243, 243, 243, 1);
$hoverForm: rgba(230, 230, 230, 1);
$DWNForm: rgba(214, 214, 214, 1);
$FormIco: rgba(51, 51, 51, 1);
$DWNFormIco: rgba(163, 163, 163, 1);







$mainFont: PTSans, sans-serif;


