//Styles for the all buttons

.btn {
  display: block;
  width: 100%;
  font: bold 21px/58px "PT Sans", Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;

  &--blue {
    background: #81b3d2;
    color: #fff;
    &:hover {
      background: #669ec0;
    }
    &:active {
      background: #5496bd;
      color: rgba(255, 255, 255, 0.3);
    }
  }
}
