.feedback {
    display: flex;
    flex-wrap: wrap;
    max-width: 930px;
    padding: 0 15px;
    margin: 0 auto;
    
}   
    .feedback__section  {
        border: none;
        margin: 0;
        padding: 0;
        flex-grow: 1;
        &--50 {
            width: 50%;
        }
    }
        .feedback__section-title {
            @include titleText;
            font-size: 1.313rem;
            text-transform: uppercase;
            text-align: center;
            display: block;
            margin-bottom: 60px;
        }
            .radio-set__item {
                margin-bottom: 25px;
                &:last-child {
                    margin-bottom: 0;
                }
            }

            .text-box__item {
                display: flex;
                width: 100%;
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0px;
                }
            }