// The common styles for all pages

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
  line-height: 1;
}

body {
  font: normal 14px/26px "PT Sans", Arial, sans-serif;
  color:  #333;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    background: #f2f2f2;
  }

}

img {
  max-width: 100%;
  height: auto;
}

.container {
  position: relative;
  
  width: 100%;
  margin: 0 auto;
  overflow: hidden;

  @media screen and (min-width: 768px) {
   
    margin: 0 auto;
    overflow: hidden;
  }

  @media screen and (min-width: 1200px)  {
    
    max-width: 1200px;
    background: #fff;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 0px 15px 0px rgba(0, 1, 1, 0.2);
  }
}


.wrapper {
  width: 320px;
  margin: 0 auto;
}
