.container {
	@include container;
	position: relative;
	overflow: hidden;
	transition: transform 0.3s ease-in-out;
	@media screen and (max-width: 768px) {
		transform: translateY(-248px);
	}
}
	.main-nav {
		background: rgba(255, 255, 255, 1.0);
		position: absolute;
		z-index: 100;
		width: 100%;
		@media screen and (max-width: 768px) {
			position: relative;
		}
	}
		.nav-trigger {
			display: none;
			@media screen and (max-width: 768px) {
				&:checked ~ .container{
					transform: translateY(0px);
				}
			}		
		}
		.open {
			background: url('../img/icon-open.svg') center center no-repeat; 
			position: absolute;
			width: 23px;
			height: 21px;
			bottom: 20px;
			right: 20px;
			display: none;
			cursor: pointer;
			@media screen and (max-width: 768px) {
				z-index: 101;
				display: block;
			}
		}
		.close {
			background: url('../img/icon-close.png') center center no-repeat; 
			position: absolute;
			width: 23px;
			height: 22px;
			top: 20px;
			right: 20px;
			display: none;
			cursor: pointer;
			@media screen and (max-width: 768px) {
				z-index: 101;
				display: block;
			}
		}
		.main-nav__list {
			display: flex;
			list-style: none;
			padding: 0;
			margin: 0;
			@media screen and (max-width: 768px) {
				flex-direction: column;
			}
		}
			.main-nav__item {
				width: 20%;
				text-align: center;
				position: relative;
				@media screen and (max-width: 768px) {
					width: 100%;
					background: $mMenuBackground;
					border-top: 1px solid #9ac2db;
    				border-bottom: 1px solid #678fa8;	
				}
				&:hover {
					@media screen and (max-width: 768px) {
					background: $mMenuHVR;
				}
				}
				&:nth-last-child(1):after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					display: none;
					width: 100%;
					height: 13%;
					background: linear-gradient(to top,#678fa8 0,transparent 7px);	
					@media screen and (max-width: 768px) {
						display: block;
					}
				}
				
				&--logo, &--logo:hover {
					@media screen and (max-width: 768px) {
						order: 1;
						padding: 0 0 55px 0;
						background: #fff;
						border: none;
					}
				}
				
			}

				.main-nav__link {
					@include titleText;
					text-decoration: none;
					font-size: 0.875rem;
					display: block;
					padding: 20px 0;
					transition: color 0.2s ease-in;
					@media screen and (max-width: 768px) {
							font-size: 1.125rem;
							color: #fff;
					}
					&--logo {
						@include positionCenter;
						padding: 0;
						background: url('../img/logotype-desktop.png');
						width: 188px;
						height: 96px;
						@media screen and (max-width: 1210px) {
							width: 102px;
							height: 83px;
							background: url('../img/logotype-tablet.png');
						}
						@media screen and (max-width: 768px) {
							width: 102px;
							height: 83px;
							background: url('../img/logotype-mobile.png');
						}
					}
					&:hover {
						color: $MenuHVR;
						@media screen and (max-width: 768px) {
							color: rgba(255, 255, 255, 1);
						}
					}
					&:active {
						color: $MenuDWN;
						@media screen and (max-width: 768px) {
							color: rgba(255, 255, 255, 0.3);
						}
					}
					&--active {
						color: $MenuActive;
						cursor: default;
						&:hover {
							color: $MenuActiveHVR;
							@media screen and (max-width: 768px) {
								color: rgba(255, 255, 255, 1);
						}
						}
						&:active {
							color: $MenuActiveHVRDWN;
							@media screen and (max-width: 768px) {
								color: rgba(255, 255, 255, 0.3);
						}
						}
						@media screen and (max-width: 768px) {
							color: rgba(255, 255, 255, 1);
						}
					}
				}
				
	.desktop-wrap {
		background: url(../img/back-desktop--foto.jpg) center center no-repeat;
	    background-size: cover;
	    height: 357px;
	    position: relative;
	    border: none;
	    @media screen and (max-width: 768px) {
			background: url('../img/back-desktopTab--foto.jpg') center center no-repeat;
			height: 346px;
		}
	    @media screen and (max-width: 320px) {
			height: 160px;
		}
	    &:before, &:after {
	    	content: '';
	    	position: absolute;
	    }
	    &:after {
	    	background: url(../img/intro-triangle.png) center center no-repeat;
	    	width: 100%;
	    	height: 57px;
	    	bottom: 0;
	    }
	    &:before {
			background: url(../img/text-sedona.png) center center no-repeat;
	    	width: 461px;
	    	height: 80px;
	    	top: 44%;
	    	@include positionCenter;
	    	@media screen and (max-width: 768px) {
				width: 229px;
				height: 39px;
				background: url('../img/text-sedonaSM.png');
			}
	    }
	}