.section {
	background: #fff;
	&--photo {
		padding: 110px 0 35px 0;
		@media screen and (max-width: 1210px) {
			padding: 70px 0 35px 0;
		}
		@media screen and (max-width: 768px) {
			padding: 40px 0 35px 0;
		}
	}
	&--video {
		padding: 35px 0 35px 0;
	}

}
	.discr-wrap {
		text-align: center;
		width: 40%;
		margin: 0 auto 70px;
		@media screen and (max-width: 1210px) {
			width: 55%;
			margin: 0 auto 25px;
		}
		@media screen and (max-width: 768px) {
			width: 88%;
			margin: 0 auto 25px;
		}
	}

		.discr__tittle {
			@include titleText;
			margin: 0 0 28px 0;
			@media screen and (max-width: 768px) {
				font-size: 1.125rem;
			}
		}
		.discr__text {
			@include secondText;
			line-height: 1.714;
			margin: 0;		
		}
	
	.photos__list {
		display: flex;
		flex-wrap: wrap;
		flex-grow: 1;
		list-style: none;
		font-size: 0;
		padding: 0;
		margin: 0;
		@media screen and (max-width: 1210px) {
			max-width: 648px;
			margin: 0 auto;
		}
		@media screen and (max-width: 768px) {
			max-width: 280px;
			margin: 0 auto;
		}
	}
		.photos__item {
			width: calc(100%/3);
			position: relative;
			@media screen and (max-width: 1210px) {
				width: 50%;
			}
			@media screen and (max-width: 768px) {
				width: 100%;
			}
			&--big {
				width: 100%;
			}
		}

			.photos__link {
				height: 100%;
				width: 100%;
			}

				.photo {
					width: 100%;
				}
			.photos__discr-wrap {
				position: absolute;
				display: flex;
				justify-content: space-between;
				align-items: center;
				bottom: 0;
				background: rgba(0,0,0,.3);
				width: 100%;
				padding: 20px;
				@media screen and (max-width: 1210px) {
					position: relative;
					background: rgba(0,0,0,.3);
				}
				@media screen and (max-width: 768px) {
					flex-direction: column;
					align-items: flex-start;
				}
			}
				
				.photos__title {
					@include secondText;
					font-weight: 700;
					color: rgba(255, 255, 255, 1.0);
					margin: 0 0 10px 0;
				}
				
				.photo__text {
					@include secondText;
					color: rgba(255, 255, 255, 1.0);
					text-transform: none;
					margin: 0;
					& span {
						text-transform: capitalize;
					}
				}
				
			.photos__like {
				background: url('../img/like-icon.png') left center no-repeat;
				width: 23px;
				height: 21px;
				padding: 0 60px 0 0;
				position: relative;
				&:after {
					content: '';
					position: absolute;
					background: url('../img/1350.png') center center no-repeat;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
					width: 31px;
					height: 11px;
				}

			}
