.gallery-section {
	background: #fff;
	padding: 110px 0 70px 0;
}
	.discr-wrap {
		text-align: center;
		width: 470px;
		margin: 0 auto 70px;
	}

		.discr__tittle {
			@include titleText;
			margin: 0 0 28px 0;
		}
		.discr__text {
			@include secondText;
			line-height: 1.714;
			margin: 0;		
		}
	
	.photos__list {
		display: flex;
		flex-wrap: wrap;
		flex-grow: 1;
		list-style: none;
		font-size: 0;
		padding: 0;
		margin: 0;
	}
		.photos__item {
			width: calc(100%/3);
			position: relative;
			&--big {
				width: 100%;
			}
		}

			.photos__link {
			}

				.photo {
					width: 100%;
				}
			.photos__discr-wrap {
				position: absolute;
				display: flex;
				justify-content: space-between;
				align-items: center;
				bottom: 0;
				background: rgba(0,0,0,.3);
				width: 100%;
				padding: 20px;
			}
				
				.photos__title {
					@include secondText;
					font-weight: 700;
					color: rgba(255, 255, 255, 1.0);
					margin: 0 0 10px 0;
				}
				
				.photo__text {
					@include secondText;
					color: rgba(255, 255, 255, 1.0);
					text-transform: none;
					margin: 0;
					& span {
						text-transform: capitalize;
					}
				}
				
			.photos__like {
				background: url('../img/like-icon.png') left center no-repeat;
				width: 23px;
				height: 21px;
				padding: 0 60px 0 0;
				position: relative;
				&:after {
					content: '';
					position: absolute;
					background: url('../img/1350.png') center center no-repeat;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
					width: 31px;
					height: 11px;
				}

			}
