@import "libs/normalize/normalize";
@import "libs/fonts/font-awesome";
@import "misc/_mixin.scss";
@import "misc/_defolt.scss";
@import "misc/_vars.scss";

@import "layout/_header.scss";
@import "layout/_photo.scss";

